.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(black.jpg);
    background-position: center;
    background-size: cover;
    position: relative
}

.header img{
    border-radius: 123px;
}

*{
    margin: 0;
    padding:0;
}


